*{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 25px;
    
}
body{
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: #000000;
    color: rgb(189, 184, 219);
    
    
}
.sec-imgs-text{
    display: flex;
    flex-wrap: wrap;
}
.sec-imgs-text div{
    height: 600px;
    width: 590px;
    margin: 20px;
    text-align: center;
    
}
.sec-imgs-text div img {
    height: 160px;
    width: 160;
}



.Container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    font-size: 35px;



}


.Container-header img{
    width: 90px;
    height: 90px;
}
.Container-header nav{
    display: flex;
    list-style: none;
}
.Container-header ul{
    display: flex;
    list-style: none;
    margin-left: 50px;
    margin: 30px;
    cursor: pointer;
    align-items: center;
}

.Container-header ul img{
    height: 80px;
    width: 80px;
}
.Container-header ul a{
    color: rgb(189, 184, 219);
    text-decoration: none;

}














@media (max-width: 600px) {
    body{
        background-color: aliceblue;
        color: black;
    }
  
  .header-container{
    background-color: rgb(245, 240, 240);
}
  .sec-imgs-text{
    display: flow-root

}
.sec-imgs-text img {
    width: 100px;
    height: 100px;
    
}
.img1{
    margin-left: 15px;
    float: left;
}
.img2{
    margin-right: 15px;
    float: right;
}
.img3{
    margin-left: 15px;
    float: left;
}


  main {
    max-width: 700px;
    margin: auto;
  }
}

